* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e0e1dc;
}

:root {
  font-size: 62.5%;
  font-family: "Kanit", sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

header {
  height: 14vh;
  background-color: #212121;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #212121;
}

.on__scroll {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.header__promo {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 4vh;
  width: 100%;
  padding: .8rem;

  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 6vh;
  width: 100%;
  background-color: #fff;
}

.header__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.header__navlist {
  display: flex;
  align-items: right;
  justify-content: space-around;
  list-style: none;
}

.header__navlist li {
  letter-spacing: .3rem;
}

.header__logo {
  height: 24px;
}

.header__menu-search {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 4vh;
  padding: .7rem;

  background-color: #212121;
}

.input__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 35rem;

  background-color: #fff;
}

.input__wrapper input {
  width: 30rem;
  height: 3vh;
  padding: .5rem;
  border: none;
  outline: none;
}

.input__wrapper button {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
}


.video__wrapper {
  width: 100%;
}

.hero__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.2rem;
  gap: 2.4rem;
  background-color: #fff;
}

.hero__section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__section-content h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: .3rem;
  color: #000;
}

.hero__section-content p {
  font-weight: 300;
  font-size: 1.1rem;
  text-align: center;
  color: #8C8C8C;
  margin-bottom: .7rem;
}

.vitrine {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-align: left;
  color: #5f5f5f;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  width: 100%;
  margin: 5% 0 0 0;
  height: auto;
  background-color: #fff;
}

.vitrine__container {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-align: left;
  color: #5f5f5f;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  width: 100%;
  margin: .5rem auto 0 auto;
}

.vitrine__main {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-align: left;
  color: #5f5f5f;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 6vw);
  grid-gap: .5rem;
}

.vitrine__item {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-align: left;
  color: #5f5f5f;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: block;
  transition: all 2s ease;
}

.vitrine__animate {
  opacity: 1;
}

.vitrine__item--1 {
  grid-column-start: 13;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 4;
}

.vitrine__item--2 {
  grid-column-start: 10;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 4;
}

.vitrine__item--3 {
  grid-column-start: 8;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}

.vitrine__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}

.vitrine__item--5 {
  grid-column-start: 13;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 7;
}

.vitrine__item--7 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 7;
}

.vitrine__item--8 {
  grid-column-start: 8;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 7;
}

.vitrine__img {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-align: left;
  color: #5f5f5f;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.shop__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
  background-color: #e0e1dc;
  padding: 1.9rem;
}

.shop__type {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  gap: 1rem;
}

.shop__type .h {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
}

.shop__type-wrapper {
  display: flex;
  gap: 1rem;
}

.shop__type-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.up {
  transform: translateY(50%);
}

.down {
  transform: translateY(-50%);
}

.show {
  transition: all 1s;
}

.animate {
  transform: translateY(0);
}

.shop__type-card button {
  width: 100%;
  background-color: #000;
  border: none;
  padding: .6rem;
  color: #fff;
  font-weight: 900;
  font-size: 1.2rem;
}

.slideshow__container {
  margin: 0 auto;
  margin-top: 1.8rem;
  max-width: 140rem;
  width: 95%;
}

.slideshow__wrapper .image__list {
  display: grid;
  gap: 1.8rem;
  font-size: 0;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  grid-template-columns: repeat(10, 1fr);
}

.slideshow__wrapper .image__list::-webkit-scrollbar {
  display: none;
}

.slideshow__wrapper .image__list .image__item {
  width: 32.5rem;
  height: 40rem;
  object-fit: cover;
}

.slideshow__container .slider__scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider__scrollbar .scrollbar__tracker {
  position: relative;
  height: 2px;
  width: 100%;
  background: #ccc;
  border-radius: 4px;
}

.slider__scrollbar:hover .scrollbar__tracker {
  height: 4px;
}

.slider__scrollbar .scrollbar__thumb {
  position: absolute;
  height: 100%;
  width: 50%;
  background: #000;
  border-radius: inherit;
  cursor: grab;
}

.slider__scrollbar .scrollbar__thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider__scrollbar .scrollbar__thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

.showroom__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.showroom__text {
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
  padding: 1.9rem;
}

.showroom__text h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
}

.showroom__text p {
  text-align: center;
  font-weight: 500;
  font-size: 1.25rem;
  color: #636363;
}

.showroom__map {
  position: relative;
  width: 100%;
  height: 40rem;
  filter: grayscale(100%) invert(4%);
}

.showroom__map iframe {
  width: 100%;
  height: 100%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2.1rem 2.4rem;
}

.footer__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: .5rem;
  margin-bottom: 1.8rem;
}

.footer__header h2 {
  line-height: 0;
  font-size: 1rem;
}

.footer__header h1 {
  font-size: 1.8rem;
}

.footer__social {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.social__icons {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 1rem;
}

.icons {
  display: flex;
  align-items: center;
  gap: 2.6rem;
}

.middle {
  height: 1.5rem;
}

.bottom {
  width: 80%;
}

.footer__medals {
  width: 100%;
}

.footer__medals img {
  width: 100%;
}

.footer__info {
  width: 100%;
  text-align: right;
}

.footer__info h2 {
  font-size: 1.4rem;
  font-weight: 600;
}

.footer__info p {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* Responsive */
@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .header__navlist {
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top: 10vh;
    left: 0;
    width: 100vw;
    height: 36vh;
    padding-left: 3.2rem;
    background: #212121;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 99999;
  }

  .header__navlist li {
    opacity: 0;
  }

  .header__navlist.active {
    transform: translateX(0);
  }

  .header__navlist li a {
    font-size: 1.3rem;
  }

  .slideshow__wrapper .image__list {
    gap: .6rem;
    margin-bottom: .9rem;
  }

  .slideshow__wrapper .image__list .image__item {
    width: 28rem;
    height: 38rem;
  }

  .slider__scrollbar .scrollbar__thumb {
    width: 20%;
  }
}

@media screen and (min-width: 1000px) {
  .header__navbar {
    justify-content: space-around;
  }

  .header__logo {
    order: 1;
  }

  nav {
    order: 2;
  }

  .header__navlist {
    gap: 2rem;
  }

  .header__navlist a {
    color: #000;
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  .header__whatsapp {
    order: 3;
  }

  .header__navbar-mobile {
    display: none;
  }

  .hero__section-content h1 {
    font-size: 2.5rem;
    font-weight: 800;
  }

  .hero__section-content p {
    font-size: 1.8rem;
  }

  .hero__section-banner {
    width: 100%;
  }

  .hero__section-banner img {
    width: 100%;
  }

  .vitrine__main {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 6vw);
  }

  .shop__type {
    width: 75%;
  }

  .shop__type-wrapper {
    gap: 20rem;
  }

  .shop__type-card h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
  }

  .shop__type-card button {
    width: 28rem;
    font-size: 2.5rem;
  }

  .showroom__text h2 {
    font-size: 4.2rem;
    font-weight: 400;
  }

  .showroom__text p {
    font-size: 1.8rem;
  }

  .showroom__map {
    z-index: 1;
  }

  footer {
    background-image: url("../images/Main/footer.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right bottom -30px;
  }

  .footer__wrapper {
    flex-direction: row;
    width: 90%;
  }

  .footer__header {
    margin-top: 3.4rem;
  }

  .footer__header h2 {
    font-size: 3rem;
  }

  .footer__header h1 {
    font-size: 6rem;
  }

  .footer__header span {
    font-size: 1.5rem;
  }

  .top {
    width: 64.2rem;
  }

  .social__icons p {
    font-size: 3.2rem;
  }

  .middle {
    height: 5rem;
  }

  .icons img {
    width: 40px;
  }

  .bottom {
    width: 48.2rem;
  }

  .footer__info {
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .footer__info h2 {
    font-size: 3rem;
  }

  .footer__info p {
    font-size: 1.5rem;
  }

}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }

  to {
    opacity: 1;
  }
}