.personalize__main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 4rem 0;
}

.personalize__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;
}

.personalize__header {
  padding: 1rem 0;
}

.personalize__header h1 {
  line-height: 2rem;
  font-size: 5rem;
}

.personalize__header h2 {
  font-size: 2.5rem;
}

.cta__header {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  background-image: url("../images/slides/10.jpg");
  background-repeat: no-repeat;
  background-position: center top;

  margin-bottom: 4rem;
}

.cta__header p {
  width: 100%;
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
}

.cta__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cta__button button {
  width: 100%;
  padding: 0.5rem;

  background-color: transparent;

  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 600;
}

.cta__button button:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.vitrine__main {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(20, 6vw);
}

.vitrine__item--1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 7;
}

.vitrine__item--2 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 10;
  grid-row-end: 17;
}

.vitrine__item--3 {
  grid-column-start: 5;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 10;
}

.vitrine__item--4 {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 6;
}

.vitrine__item--5 {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 6;
  grid-row-end: 12;
}

.vitrine__item--7 {
  grid-column-start: 5;
  grid-column-end: 10;
  grid-row-start: 14;
  grid-row-end: 20;
}

.vitrine__item--8 {
  grid-column-start: 5;
  grid-column-end: 10;
  grid-row-start: 10;
  grid-row-end: 14;
}

.vitrine__item--9 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 17;
  grid-row-end: 20;
}

.vitrine__item--10 {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 12;
  grid-row-end: 17;
}

.vitrine__item--11 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 10;
}

.vitrine__item--12 {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 17;
  grid-row-end: 20;
}

@media (min-width: 768px) {
  .cta__header {
    background-position: right top;
  }

  .cta__header p {
    width: 60%;
    font-size: 2.5rem;
  }

  .cta__button button {
    font-size: 4rem;
  }
}
